<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<title>{{ config_data.title }}</title>
</head>

<body>

  <div class="py-4 bg-info">
    <h1 class="text-center text-light">{{ config_data.title }}</h1>
   <h6 class="text-center text-light">{{ config_data.description  }}</h6>
  </div>
  <div class="container my-4">
    <ol class="text-capitalize">
      {% for item in post %}
      <li>
	<div class="row">
	  <div class="col-md-6">
	    <a href="./{{ item.file_name }}.html">{{ item.title }}</a>
	  </div>
	  <div class="col-md-3">
	    {{ item.date }}
	  </div>
	  <div class="col-md-3">
	    {{ item.author }}
	  </div>
	</div>	
      </li>
      {% endfor %}
    </ol>
  </div>
  
  <br>
  <br>
  
{% if option %}
{% for blog in post %}
  <div class="container my-4">
    <h1 class="text-center text-info"> {{ blog.title }} </h1>
    <div class="row mb-4">
      <div class="col-6 text-left text-muted"><b>{{ blog.date }}</b></div>
      <div class="col-6 text-right text-muted"><b>{{ blog.author }}</b></div>
    </div>
  </div>
  <div class="container my-4">  
    {{ blog.content }} 
  </div>
{% endfor %}
{% endif  %}
</body>
</html>

