<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<title>Index</title>
</head>

<body>

  <div class="py-4 bg-info">
    <h1 class="text-center text-light">{{ post.head }}</h1>
  </div>
  <div class="container my-4">
    <ol class="text-capitalize">
      {% for item in post.blog_names %}
      <li>
	<div class="row">
	  <div class="col-md-6">
	    <a href="./post_html/{{ item }}.html">{{ item }}</a>
	  </div>
	  <div class="col-md-3">
	    05/06/2020
	  </div>
	  <div class="col-md-3">
	    Shireen
	  </div>
	</div>
	
      </li>
      {% endfor %}
    </ol>

  </div>

</body>
</html>

