<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<title>
  {{ post.head }}
</title>
</head>
<body>
  <div class="py-4 bg-info">
    <h1 class="text-center text-light">{{ post.head }}</h1>
  </div>
{% for item in post.post_details %}
  <div class="container my-4">
    <h1 class="text-center text-info"> {{ item.title }} </h1>
    <div class="row mb-4">
      <div class="col-6 text-left text-muted"><b>{{ item.date }}</b></div>
      <div class="col-6 text-right text-muted"><b>{{ item.author }}</b></div>
    </div>
  </div>
  <div class="container my-4">  
    {{ item.content }}
    
  </div>
{% endfor %}
</body>
</html>
